*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--main-text);
    font-weight: 500;
    font-size: 17px;
}

.container {
    width: 96%;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 22px;
}

h2 {
    font-weight: 700;
}

/* ---- ekran powitalny ---- */

.welcome-transition {
    transition-duration: .5s;
    transition-property: opacity;
}

.welcome-gradient {
    background: linear-gradient(155deg, var(--outline) 0%, var(--form) 100%);
}

.welcome {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80%;
}

.welcome-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 30px);
}

.welcome-main__icon {
    margin-bottom: 64px;
    width: 100px;
}

.welcome_text {
    color: var(--second-text);
}

.welcome-main__author {
    margin-top: 20px;
    font-size: 15px;
}

.welcome-footer__text {
    font-size: 12px;
    animation: pulsing 2s linear infinite;
}

@keyframes pulsing {
    0% { color: var(--second-text) }
    50% { color: var(--main-text) }
    100% { color: var(--second-text) }
}

/* ---- ekran główny ---- */

.homePanel {
    display: none;
}

.home-header {
    background-color: var(--primary);
}

.home-header__container {
    display: flex;
    align-items: center;
    height: 56px;
}

.home-header__menu-icon {
    width: 42px;
}

.home-header__header {
    margin-left: 50px;
}

.home-elem {
    margin-top: 10px;
    display: flex;
    height: 120px;
}

.home-elem__img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    border-radius: 16px 0 0 16px;
    background-color: var(--outline);
}

.home-elem__img {
    height: 58px;
    width: 58px;
}

.home-elem__texts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0 16px 16px 0;
    background-color: var(--form);
}

.home-elem__texts-header {
    margin: 21px 0 0 21px;
    align-self: flex-start;
    font-size: 22px;
}

.home-elem__texts-strap {
    margin-top: 30px;
    align-self: flex-start;
    height: 8px;
    width: 95%;
    background-color: var(--white);
}

.home-elem__texts-directing {
    margin-bottom: 12px;
    position: absolute;
    bottom: 0;
    font-size: 15px;
}

/* ---- menu ---- */

.menu {
    display: none;
    overflow: hidden;
    height: 100vh;
    width: 80vw;
    background-color: var(--form);
}

.menu-elem {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu-elem__img {
    margin: 0 25px 0 15px;
    height: 35px;
    width: 35px;
}

.menu-strap {
    height: 8px;
    background-color: var(--white);
}