*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--main-text);
    font-weight: 500;
    font-size: 17px;
}

.container {
    width: 96%;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 22px;
}

h2 {
    font-weight: 700;
}

/* ---- reużywalne komponenty ---- */

.h-display--none {
    display: none;
}

.h-display--block {
    display: block;
}

.h-display--flex {
    display: flex;
}

.l-margin--small {
    margin-top: 57px;
}

.l-margin--medium {
    margin-top: 66px;
}

.l-margin--large {
    margin-top: 136px;
}

.is-font-type--Inter {
    font-family: 'Inter', sans-serif;
}

.is-font-type--ArchivoNarrow {
    font-family: 'Archivo Narrow', sans-serif;
}

.is-font-type--Anaheim {
    font-family: 'Anaheim', sans-serif;
}

.is-font-type--EBGaramond {
    font-family: 'EB Garamond', sans-serif;
}

.is-font-type--PTSans {
    font-family: 'PT Sans', sans-serif;
}

.is-font-type--Raleway {
    font-family: 'Raleway', sans-serif;
}

.is-stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.is-transition {
    transition-duration: .5s;
    transition-property: opacity;
}

/* ---- pasek menu ---- */

.c-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.c-header__menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 56px;
}

.h-header__menu__menu-icon {
    width: 42px;
}

.h-header__menu__header {
    margin-left: 50px;
}

.c-header__menu__icon {
    position: absolute;
    right: 0;
    margin-right: 7px;
    width: 30px;
}

.h-header__menu__icon--big {
    width: 40px;
}

.c-header__search {
    padding: 11px 0;
}

.c-header__search__icon {
    margin-left: 6.5%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 15%;
    background-color: var(--form);
    border-radius: 32px 0 0 32px;
}

.c-header__search__input {
    padding-right: 30px 0 30px;
    width: 57%;
    height: 56px;
    color: var(--main-text);
    background-color: var(--form);
    border: none;
    outline: none;
    font-size: 15px;
}

.c-header__search__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 15%;
    border-radius: 0 32px 32px 0;
    background-color: var(--form);
}

.c-header__search__delete__icon {
    width: 20px;
}

.is-header__menu__icon--small {
    width: 36px;
}

.is-header__menu__header--small {
    margin-left: 35px;
    font-size: 17px;
}

/* ---- ekran powitalny ---- */

.c-welcome--gradient {
    background: linear-gradient(155deg, var(--outline) 0%, var(--form) 100%);
}

.c-welcome {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80%;
}

.c-welcome__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 30px);
}

.c-welcome__icon {
    margin-bottom: 64px;
    width: 100px;
}

.is-welcome--text-color {
    color: var(--second-text);
}

.c-welcome__author {
    margin-top: 20px;
    font-size: 15px;
}

.c-welcome__footer {
    font-size: 12px;
    animation: pulsing 2s linear infinite;
}

@keyframes pulsing {
    0% { color: var(--second-text) }
    50% { color: var(--main-text) }
    100% { color: var(--second-text) }
}

/* ---- ekran główny ---- */

.c-home-elem {
    margin-top: 10px;
    display: flex;
    height: 120px;
}

.c-home-elem__img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    border-radius: 16px 0 0 16px;
    background-color: var(--outline);
}

.c-home-elem__img {
    height: 58px;
    width: 58px;
}

.c-home-elem__texts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0 16px 16px 0;
    background-color: var(--form);
}

.c-home-elem__header {
    margin: 21px 0 0 21px;
    align-self: flex-start;
    font-size: 22px;
}

.c-home-elem__strap {
    margin-top: 30px;
    align-self: flex-start;
    height: 8px;
    width: 95%;
    background-color: var(--white);
}

.c-home-elem__directing {
    margin-bottom: 12px;
    position: absolute;
    bottom: 0;
    font-size: 15px;
}

/* ---- menu ---- */

.c-menu {
    position: absolute;
    top: 0;
    display: none;
    overflow-y: scroll;
    z-index: 1;
    height: 100vh;
    width: 80vw;
    background-color: var(--form);
    animation: menuOpen .2s ease-in-out;
}

.c-menu-elem {
    display: flex;
    align-items: center;
    height: 60px;
}

.c-menu-elem__img {
    margin: 0 25px 0 15px;
    height: 35px;
    width: 35px;
}

.c-menu__strap {
    height: 8px;
    background-color: var(--white);
}

.is-menu--close {
    animation: menuClose .2s ease-in-out;
}

@keyframes menuOpen {
    0% { left: -80vw; }
    100% { left: 0 }
}

@keyframes menuClose {
    0% { left: 0; }
    100% { left: -80vw }
}

/* ---- shadow ---- */

.is-shadow {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 60%;
    animation: shadowOpen .2s ease-in-out;
}

.is-shadow--close {
    animation: shadowClose .2s ease-in-out;
}

@keyframes shadowOpen {
    0% { opacity: 0%; }
    100% { opacity: 60%; }
}

@keyframes shadowClose {
    0% { opacity: 60%; }
    100% { opacity: 0%; }
}

/* ---- popUp ---- */

.is-pop-up--open {
    animation: popUpOpen .2s ease-in-out;
}

.is-pop-up--close {
    animation: popUpClose .2s ease-in-out;
}

@keyframes popUpOpen {
    0% { opacity: 0%; }
    100% { opacity: 100%; }
}

@keyframes popUpClose {
    0% { opacity: 100%; }
    100% { opacity: 0%; }
}

/* ---- ustawienia ---- */

.c-settings__elem {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60px;
    background-color: var(--form);
    border-bottom: 2px solid var(--white);
}

.c-settings__info-text {
    color: var(--second-text);
    font-size: 15px;
}

/* ---- ustawienia czcionki ---- */

.c-font {
    margin-left: 2%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 25px;
    z-index: 1;
    background-color: var(--form);
    border-radius: 16px;
}

.c-font__header {
    font-size: 22px;
    margin-bottom: 35px;
}

.l-font__form {
    display: flex;
    flex-direction: column;
}

.h-font__text {
    margin-bottom: 30px;
}

.l-font__button {
    display: flex;
    justify-content: end;
}

.c-font__button {
    height: 35px;
    width: 60px;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 15px;
    background-color: var(--primary);
    border-radius: 32px;
}

/* ---- wszystkie ustawienia czcionki pop up ---- */

.c-font-all__text {
    font-size: 14px;
}

.c-font-all__select {
    margin: 10px 0 20px 0;
    padding-left: 5px;
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--main-text);
    font-size: 20px;
    color: var(--main-text);
    background-color: var(--form);
}

.c-font-all__select:last-of-type {
    margin: 10px 0 0 0;
}

/* ---- kategorie pieśni ---- */

.c-songs-elem {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: var(--form);
    border-bottom: 2px solid var(--white);
}

.h-songs-elem__img {
    width: 30px;
}

/* ---- pieśń ---- */

.c-song {
    margin: 68px 15px 15px 15px;
}
