*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--main-text);
    font-weight: 500;
    font-size: 17px;
}

.container {
    width: 96%;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 22px;
}

h2 {
    font-weight: 700;
}

/* ---- reużywalne komponenty ---- */

.mainSearch {
    display: none;
    padding: 11px 0;
}

.mainSearchInput {
    padding-right: 30px;
    width: 72%;
    height: 56px;
    color: var(--main-text);
    background-color: var(--form);
    border: none;
    outline: none;
    border-radius: 0 32px 32px 0;
    font-size: 15px;
}

.mainLoop {
    margin-left: 6.5%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 15%;
    background-color: var(--form);
    border-radius: 32px 0 0 32px;
}

.mainHeader {
    display: none;
    background-color: var(--primary);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mainHeaderContainer {
    display: flex;
    align-items: center;
    height: 56px;
}

.mainHeaderIcon {
    width: 42px;
}

.mainHeaderText {
    margin-left: 50px;
}

.mainHeaderTextSmall {
    margin-left: 35px;
    font-size: 17px;
}

/* ---- ekran powitalny ---- */

.welcome-transition {
    transition-duration: .5s;
    transition-property: opacity;
}

.welcome-gradient {
    background: linear-gradient(155deg, var(--outline) 0%, var(--form) 100%);
}

.welcome {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 80%;
}

.welcome-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 30px);
}

.welcome-main__icon {
    margin-bottom: 64px;
    width: 100px;
}

.welcome_text {
    color: var(--second-text);
}

.welcome-main__author {
    margin-top: 20px;
    font-size: 15px;
}

.welcome-footer__text {
    font-size: 12px;
    animation: pulsing 2s linear infinite;
}

@keyframes pulsing {
    0% { color: var(--second-text) }
    50% { color: var(--main-text) }
    100% { color: var(--second-text) }
}

/* ---- ekran główny ---- */

.homePanel {
    display: none;
}

.home-elem {
    margin-top: 10px;
    display: flex;
    height: 120px;
}

.home-elem__img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    border-radius: 16px 0 0 16px;
    background-color: var(--outline);
}

.home-elem__img {
    height: 58px;
    width: 58px;
}

.home-elem__texts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0 16px 16px 0;
    background-color: var(--form);
}

.home-elem__texts-header {
    margin: 21px 0 0 21px;
    align-self: flex-start;
    font-size: 22px;
}

.home-elem__texts-strap {
    margin-top: 30px;
    align-self: flex-start;
    height: 8px;
    width: 95%;
    background-color: var(--white);
}

.home-elem__texts-directing {
    margin-bottom: 12px;
    position: absolute;
    bottom: 0;
    font-size: 15px;
}

/* ---- menu ---- */

.shadow {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 60%;
    animation: shadowOpen .2s ease-in-out;
}

.shadowClose {
    animation: shadowClose .2s ease-in-out;
}

@keyframes shadowOpen {
    0% { opacity: 0%; }
    100% { opacity: 60%; }
}

@keyframes shadowClose {
    0% { opacity: 60%; }
    100% { opacity: 0%; }
}

.menu {
    position: absolute;
    top: 0;
    display: none;
    overflow-y: scroll;
    z-index: 1;
    height: 100vh;
    width: 80vw;
    background-color: var(--form);
    animation: menuOpen .2s ease-in-out;
}

.menuClose {
    animation: menuClose .2s ease-in-out;
}

@keyframes menuOpen {
    0% { left: -80vw; }
    100% { left: 0 }
}

@keyframes menuClose {
    0% { left: 0; }
    100% { left: -80vw }
}

.menu-elem {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu-elem__img {
    margin: 0 25px 0 15px;
    height: 35px;
    width: 35px;
}

.menu-strap {
    height: 8px;
    background-color: var(--white);
}

/* ---- kategorie pieśni ---- */

.songs {
    display: none;
}

.songs-elem {
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: var(--form);
    border-bottom: 2px solid var(--white);
}

.songs-elem__img {
    width: 30px;
}

/* ---- pieśń ---- */

.song {
    display: none;
}

.songText {
    margin: 10px;
    line-height: 28px;
}
